.auth-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../src/assets/img/hotelLogin.jpg");
    background-repeat: no-repeat;
    background-size: 75%;
}

.login-container,
.register-container {
    width: 500px;
    margin: 0 auto;
    margin-right: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    box-shadow: -15px -10px 300px -5px #d8bd8b,
        15px -10px 300px -5px #184e3d,
        15px 10px 300px -5px #84183b,
        -15px 10px 300px -5px #86beb0;
    animation: flicker 10s linear infinite;
    padding: 25px;
    background-color: #000000;
    background-image: url('../../assets/img/maleta.png');
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: right bottom;

}

@keyframes flicker {
    0% {
        border: 2px solid #065e44;
        box-shadow: 15px -10px 300px -5px #065e44;
    }

    25% {
        border: 2px solid #d29421;
        box-shadow: -15px -10px 300px -5px #d29421;
    }

    50% {
        border: 2px solid #ea6a97;
        box-shadow: 15px 10px 300px -5px #ea6a97;
    }

    75% {
        border: 2px solid #44c8a7;
        box-shadow: 15px 10px 300px -5px #44c8a7;
    }

    100% {
        border: 2px solid #84183b;
        box-shadow: -15px 10px 300px -5px #84183b;
    }
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth-form input {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}


.auth-form button {
    margin: 1rem;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: .8em;
    text-transform: uppercase;
    padding: 0.6em 1.2em;
    background-color: #ffeba7;
    color: #5e6681;
    box-shadow: 0 8px 24px 0 rgb(255 235 167 / 20%);
    transition: all .3s ease-in-out;
}

.auth-form button:hover {
    background-color: #5e6681;
    color: #ffeba7;
    box-shadow: 0 8px 24px 0 rgb(16 39 112 / 20%);
}



.auth-form button:disabled {
    opacity: 0.3;
}

.auth-form-label {
    width: 310px;
    font-weight: 1000;
}

.auth-form-logo-container {
    width: 65px;

}

.auth-form-switch-label:hover {
    opacity: 0.8;
}

.auth-form-validation-message {
    width: 400px;
    color: red;
}

.btn-link {
    color: #f5f5f5;
    display: block;
    font-size: 1em;
    transition: color .3s ease-out;
}

.btn-link:hover {
    color: #ffeba7;
}

.title {
    margin-bottom: 1rem;
    font-size: 16px;
    font-weight: 500;
    color: #f5f5f5;
}

.label {
    font-size: 16px;
}

.image-log-regis {
    margin-left: 0px;
    width: 65px;
}